{% extends "config/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Welcome to packageparcels{% endblock %}

{% block content %}
<div class="mt-5">
    <div class="row">
        <h1 class="display-4">Welcome to packageparcels 🚚</h1>
        <p class="lead">Easily track your shipments and deliveries worldwide.</p>
        <ul>
            <li>USPS</li>
            <li>DHL</li>
            <li>FedEx</li>
            <li>More than 223 international carriers (excluding China and New Jersey)</li>
            <li>Redirect packages in transit to a alternative address (domestic or international).</li>
        </ul>
    </div>
</div>
{% endblock %}
