{% extends "config/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Welcome to packageparcels{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Package Tracking</h5>
            </div>
            <div class="card-body" id="tracking-card-body">
                <div id="tracking-section">
                    <p class="card-text">To check the status of your package, please enter your token and click the button below.</p>
                    <div class="d-flex align-items-center mb-3">
                        <input type="text" id="token-input" class="form-control me-2" placeholder="Enter your tracking token" required>
                        <button id="submit-button" class="btn btn-primary">Check</button>

                        <p class="mt-3" id="token-status"></p>

                        <div id="request-spinner" class="spinner-border text-primary ms-3" role="status" style="display: none;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <p class="mt-3" id="request-status"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="application/javascript">
    function getFormData(token, statusElement) {
        const formData = new FormData();
        formData.append('http_method', 'POST');
        formData.append('token', token);

        return formData;
    };
</script>

{% include "tracking/_sendPayload.html" with formUrl='/tracking' %}
{% endblock %}
